# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
docs/reports/

# Duże pliki wynikowe (>10 MB) — nie wrzucamy do repo
2-imputation/final/results/aneurysm_imputed_final.csv

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
